<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602435364570-50649d8e8sb7bpa1bnplm5hj2knq4s5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602435364570-50649d8e8sb7bpa1bnplm5hj2knq4s5a</string>
	<key>API_KEY</key>
	<string>AIzaSyAl9PfS_2BXoPHjw5N3m_8G_7rR82jCO2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>602435364570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-e17e7</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-e17e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602435364570:ios:14446b03861db8765da7e3</string>
</dict>
</plist>